.speech {
    font-size: 13px;
    //font-style: italic;
    color: blue;
    font-family: "Times New Roman";
}

.direction {
    font-size: 15px;
    //font-style: italic;
    color: black;
    background-color: lavender;
    font-family: "Times New Roman";
}

.name {
    font-size: 15px;
    //font-style: italic;
    color: black;
    font-family: "Times New Roman";
}

h6.name {
    margin-block: auto;
}

.CLE {
    color:maroon;
}
.ELI {
    color:teal
}
.MAR {
    color:tomato;
}
.FRO{
    color:blueviolet;
}

table {
    border: solid 3px CadetBlue;
    width: 35%;
    border-collapse: collapse;
    margin: 5px;
}

th, td {
    border: solid 1px;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #7f6faa;
}
tr:nth-child(odd) {
    background-color: #93aa6f;
}

.CLE:hover {
    text-shadow: 2px 3px 4px rosybrown;
    border: solid 2px rgb(189, 25, 25);
    filter: blur(2px);
}

ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li {
    float:left;
    background-color: darkviolet;
}
ul.navbar-horizontal a {
    display:block;
    padding:8px;
    color: floralwhite;
}
ul.navbar-horizontal a:hover {
    background-color: darkslateblue;
    color:yellowgreen;
}

h6.CLE:hover {
    border: 2px solid mediumvioletred;
    box-shadow: 2px 3px mediumvioletred;
    filter: blur(2px);
}

h6.FRO:hover {
    border: 2px solid mediumvioletred;
    box-shadow: 2px 3px mediumvioletred;
    filter: blur(2px);
}

h6.MAR:hover {
    border: 2px solid mediumvioletred;
    box-shadow: 2px 3px mediumvioletred;
    filter: blur(2px);
}